body {
          max-width: 1320px;
          margin: auto;
          background-color: white}
          
      .mobile_info {
          color: red;
          background-color: aquamarine;}
          
      .title {
          color: black;
          float: left; width: 50%}
          
      .tabbable > .nav {background-color:	 #3dc296;}
      #main_tabsets > li {float: right; padding-top: 65px;}
      #messdata-mess_tabsets > li {float: right; padding-top: 5px;}
      .tabbable > .nav > li                 > a  {font-weight: bold; 
                                                  background-color: aquamarine; 
                                                  color:black}
      .tabbable > .nav > li[class=active]    > a {background-color: HoneyDew; 
                                                  color:black}
      
      .col-sm-9 {
        padding-right: 0px;
      }

      .shiny-notification {position:fixed;
                            top: calc(20%);
                            left: calc(30%);
                            max-width: 450px;
                            background-color: HoneyDew;
                            color: black;
                            border-color: aquamarine}
                            
      .intro {background-color: aquamarine;
              font-size: 30px;
              }
              
      .map_plot {max-width: 800px;
                  padding: 16px}

      .slider {padding-left: 16px}
      
      .subtitle {padding-left: 8px;}
      
      .helplines {border-style: solid;
                  border-color: #3dc296;
                  border-width: 2px;
                  border-radius: 5px;
                  padding: 5px;
                  width: 150px;
                  }

      .impressum_style {padding: 32px}
      
      #map_title {padding-left: 16px;
      }
      
      .main {background-color: white;}
                  
      .footer {background-color: HoneyDew;
                }
              
      a {color: #3dc296;}
      
      a:hover {color: #32805b;}
      
      .hidekontakt {
          display: none;
      }
              
      .kontakt:hover {
       color: #1E2B3D;
      }
        
      .kontakt {display: inline-block;
                color: #3dc296;}

      .kontakt:hover + .hidekontakt {
        display: initial;
        color: #1E2B3D;
      }

      @media (max-width: 1010px) {
        #main_tabsets > li {float: left; padding-top: 2px;}
        #messdata-mess_tabsets > li {float: left; padding-top: 2px;}
        .title {
          float: left; width: 100%}
      }